/.WhiteSpaceDescriptionLabelProvider.java._trace
/.WhiteSpaceLabelProvider.java._trace
/.WhiteSpaceDescriptionLabelProvider.xtendbin
/.WhiteSpaceLabelProvider.xtendbin
/WhiteSpaceDescriptionLabelProvider.java
/WhiteSpaceLabelProvider.java
